
---
import Layout from "../layouts/Layout.astro";
import Preposn1Button from "../components/Contests/Preposn1Button";
---

<Layout title="Pre POSN 1 2024 - Gean Dev">
  <main class="min-h-screen flex bg-slate-800 items-center justify-center">
    <Preposn1Button client:load />
  </main>
</Layout>



